@import "root.css";
@import "container1.css";
@import "container2.css";
@import "container4.css";
.container-4 {
  background-color: var(--main-color);
  display: flex;
  flex-shrink: 0;
  font-size: 11px;
  height: 25px;
  width: 100%;
  align-content: center;
  column-gap: 2px;
  border-top: 1px solid var(--borderlight);
}

.footer-note {
  background-color: transparent;
  align-content: center;
  flex: 4 1 80%;
  font-size: 13px;
  position: relative;
  height: 80%;
  border-top: 1px solid var(--borderdark);
  border-right: 1px solid var(--borderlight);
  border-left: 1px solid var(--borderdark);
  border-bottom: 1px solid var(--borderlight);
  padding-left: 8px;
}

.coordinates {
  background-color: transparent;
  position: relative;
  align-content: center;
  /* font-size: 13px; */
  height: 80%;
  width: 9vw;
  bottom: 0;
  flex-basis: 1 1 10%;
  border-top: 1px solid var(--borderdark);
  border-right: 1px solid var(--borderlight);
  border-left: 1px solid var(--borderdark);
  border-bottom: 1px solid var(--borderlight);
}

.extra {
  background-color: transparent;
  position: relative;
  height: 80%;
  width: 9vw;
  bottom: 0;
  border-top: 1px solid var(--borderdark);
  border-right: 1px solid var(--borderlight);
  border-left: 1px solid var(--borderdark);
  border-bottom: 1px solid var(--borderlight);
}
